div.no-plugin {
  ul {
    li.header {
      font-weight: bold;
    }
    li.colId {
      width: 100px;
    }
    li.colName {
      width: 400px;
    }
    li.colCode {
      width: 200px;
    }
    li.colSerial {
      width: 200px;
    }
  }
}
